@model Dish

<div>
    <h1>Hello</h1>
    <div>
   <a asp-controller = "Home" asp-action="Index">Home</a>
     <a asp-controller="Home"  asp-action="NewDish" method="GET">Add a Dish</a>
</div>
<div class="text-center">
    
    <form asp-controller="Home" asp-action="UpdateDish" asp-route-DishID="@Model.DishId" method="post">

     <label asp-for="Name"> Name</label> 
        <input asp-for="Name" > 
        <span asp-validation-for="Name"></span>

        <label asp-for="Chef">Chef</label> 
        <input asp-for="Chef" > 
        <span asp-validation-for="Chef"></span>

           <label asp-for="Tastiness">Tastiness</label> 
        <select asp-for="Tastiness">
            <option value="">Select Level of Tastiness</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
        <span asp-validation-for="Tastiness"></span>

          <label asp-for="Calories">Calories</label> 
        <input asp-for="Calories" > 
        <span asp-validation-for="Calories"></span>

            <label asp-for="Description">Description</label> 
        <input asp-for="Description" > 
        <span asp-validation-for="Description"></span>





    
   <button class="btn btn-sucess">Submit</button>
    </form>

</div>